@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    font-family: "poppins";
}

p {
    padding: 0;
    margin: 0;
}

.sub-title {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 3px;
}

.text-xs {
    font-size: 12px;
}

.bg-dark-purple {
    background-color: #150a35;
}

.btn-custom {
    font-size: 12px;
}

.btn-disable {
    background-color: #7e7e7e;
    cursor: not-allowed;
    border-radius: 6px;
    border: none;
    padding: 5px 8px;
    color: white;
    font-size: 12px;
}

.btn-purple {
    background-color: #7255c1;
    color: white;
    font-size: 12px;
}

.btn-purple:hover {
    background-color: #c6b6f0;
}

.btn-red {
    background-color: #c15555;
    color: rgb(255, 255, 255);
    font-size: 12px;
}

.btn-yellow {
    background-color: #fac340;
    color: rgb(0, 0, 0);
    font-size: 12px;
}

.btn-red:hover {
    background-color: #f6a4a4;
}

.btn-yellow:hover {
    background-color: #fdd266;
}

.bg-purple {
    background-color: #7255c1;
    color: white;
}

.text-purple {
    color: #7255c1;
}

.shadow-custom {
    box-shadow: 0 0.5rem 1rem #7255c155;
}

#fileInput {
    display: none;
}

.overlay {
    background-color: #f2f2f2;
    padding: 8px;
    border-radius: 10px;
    overflow-y: auto;
    max-height: 100vh;
}

.overlay > div {
    background-color: white;
    padding: 8px;
    border-radius: 10px;
    margin: 10px 6px;
}

.max-content {
    width: max-content;
}

.mx-auto {
    margin: 12px auto;
}

.rating {
    cursor: pointer;
}

.rating .star {
    font-size: 24px;
    color: #ddd;
    transition: color 0.3s;
}

.rating .star:hover,
.rating .star.selected {
    color: #ffc107; /* Change to your desired star color */
}
